@model List<Order>

@{
    ViewData["Title"] = "All orders";
}

<div class="row">
    <div class="col-md-8 offset-2">
        <p>
            <h4>List of all your orders</h4>
        </p>

        <table class="table table table-responsive">
            <thead>
                <tr>
                    <th>Order ID</th>
                    <th>Items</th>
                    <th>Total</th>
                    <th>User</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var order in Model)
                {
                    <tr>
                        <td class="align-middle">@order.Id</td>
                        <td class="align-middle">
                            <ul style="list-style-type:none">
                                @foreach (var item in @order.OrderItems)
                                {
                                    <li>
                                        <div class="alert alert-info" role="alert">
                                            <span class="badge bg-success">@item.Amount</span> [@item.Price.ToString("c")] - <b>@item.Movie.Name</b> <span style="float:right;">[@item.Price.ToString("c")]</span>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </td>
                        <td class="align-middle">
                            <h4><span class="badge bg-success">@order.OrderItems.Select(m=>m.Movie.Price * m.Amount).Sum().ToString("c")</span></h4>                        
                        </td>
                        <td class="align-middle"> - </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>