@using eTickets.Data.ViewModels
@model ShoppingCartVM

@{
    ViewData["Title"] = "Shopping cart summary";
}

<div class="row">
    <div class="col-md-8 offset-2">
        <div class="text-center">
            <h2>Your shopping cart summary</h2>
        </div>

        <table class="table table-responsive">
            <thead>
                <tr>
                    <th>Selected amount</th>
                    <th>Movie</th>
                    <th>Price</th>
                    <th>Subtotal</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ShoppingCart.GetShoppingCartItems())
                {
                    <tr>
                        <td class="align-middle">@item.Amount</td>
                        <td class="align-middle">@item.Movie.Name</td>
                        <td class="align-middle">@item.Movie.Price.ToString("c")</td>
                        <td class="align-middle">@((item.Amount * item.Movie.Price).ToString("c"))</td>
                        <td class="align-middle">
                            <a class="text-danger" asp-controller="Orders" asp-action="RemoveItemFromShoppingCart" 
                            asp-route-id="@item.Movie.Id">
                                <i class="bi bi-cart-dash"></i></a> | 

                            <a class="text-success" asp-controller="Orders" asp-action="AddItemToShoppingCart" 
                            asp-route-id="@item.Movie.Id">
                                <i class="bi bi-cart-plus"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2"></td>
                    <td><b>Total:</b></td>
                    <td>
                        @Model.ShoppingCartTotal.ToString("c")
                    </td>
                    <td></td>
                </tr>
            </tfoot>
        </table>

        <div class="text-end">
            <div class="btn-group">
                @*<a class="btn btn-outline-primary" asp-controller="Orders" asp-action="CompleteOrder">
                Complete Order
                </a>*@
                <div id="paypal-btn"></div>
                <span style="padding:2px;"></span>

                <a class="btn btn-outline-success" asp-controller="Movies" asp-action="Index">
                    Add more items
                </a>
            </div>
        </div>

    </div>
</div>

@section Scripts{
    <script src="https://www.paypalobjects.com/api/checkout.js"></script>

    <script>

        let _total = @Html.Raw(@Model.ShoppingCartTotal)

            paypal.Button.render({
                //Configure environment
                env: 'sandbox',
                client: {
                    sandbox: 'AQmNFvtrBAYFKO5y8PadObsjwVFwnxUStdccNR8P474kN26WycufHJvBmCaNJ6TUPvZQEKH90qF717d5'
                },
                // Customize button
                local: 'en_US',
                style: {
                    size: 'small',
                    //size: 'medium',
                    color: 'gold',
                    //color: 'silver',
                    //color: 'white',
                    //color: 'black',
                    //shape: 'pill',
                    shape: 'rect',
                    //layout:'vertical'
                    //layout: 'horizontal'
                },
                commit: true,

                //setup a payment
                payment: function(data, actions) {
                    return actions.payment.create({
                        transactions: [{
                            amount: {
                                total: _total,
                                currency: 'USD'
                            }
                        }]
                    })
                },

                //execute payment
                onAuthorize: function(data, actions) {
                    return actions.payment.execute().then(function() {
                        var url = '@Url.Action("OrderCompleted","Orders",new {})'
                        window.location.href = url;
                    });
                }
            }, 'paypal-btn');
    </script>
}